<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="MyCompressionMessageEncoding" type="Microsoft.Samples.CompressionEncoder.CompressMessageEncodingElement, CompressionEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingElementExtensions>
    </extensions>
    <client>
      <!-- HTTP -->
      <endpoint
        address="http://localhost:8000/samples/CompressionEncoder"
        bindingConfiguration="ISampleServerHttp"
        binding="customBinding"
        contract="ISampleServer">
      </endpoint>
      <!-- TCP 
      <endpoint address="net.tcp://localhost:9009/samples/CompressionEncoder" bindingConfiguration="ISampleServerTcp" binding="customBinding" contract="ISampleServer">
      </endpoint>
      -->
      <metadata>
        <policyImporters>
          <extension type="Microsoft.Samples.CompressionEncoder.CompressMessageEncodingBindingElementImporter, CompressionEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </policyImporters>
      </metadata>
    </client>
    <bindings>
      <customBinding>
        <binding name="ISampleServerHttp">
          <MyCompressionMessageEncoding innerMessageEncoding="textMessageEncoding" compressionAlgorithm="Deflate"/>
          <httpTransport manualAddressing="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" proxyAuthenticationScheme="Anonymous" realm="" useDefaultWebProxy="true"/>
        </binding>
        <binding name="ISampleServerTcp">
          <MyCompressionMessageEncoding innerMessageEncoding="binaryMessageEncoding" compressionAlgorithm="Deflate"/>
          <tcpTransport />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
