<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="MyCompressionMessageEncoding" type="Microsoft.Samples.CompressionEncoder.CompressMessageEncodingElement, CompressionEncoder, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <protocolMapping>
      <add scheme="http" binding="customBinding" />
      <add scheme="net.tcp" binding="customBinding" />
    </protocolMapping>
    <bindings>
      <customBinding>
        <!-- HTTP -->
        <binding>
          <MyCompressionMessageEncoding innerMessageEncoding="textMessageEncoding" compressionAlgorithm="Deflate"/>
          <httpTransport hostNameComparisonMode="StrongWildcard" manualAddressing="False" maxReceivedMessageSize="65536" authenticationScheme="Anonymous" bypassProxyOnLocal="False" realm="" useDefaultWebProxy="True"/>
        </binding>
        <!-- TCP 
        <binding>
          <MyCompressionMessageEncoding innerMessageEncoding="binaryMessageEncoding" compressionAlgorithm="Deflate"/>
          <tcpTransport/>
        </binding>
        -->
      </customBinding>
    </bindings>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="TraceLog.log"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
